@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
}

/* .logo {
  font-family: "Pacifico", cursive;
} */

.main-container {
  background-image: url("../images/pizza.jpg");
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .main-container {
    background-image: url("../images/pizza_mobile.jpg");
    width: 100vw;
    height: 100vh;
  }
}
