@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.cart{
    height: 90vh;
    width: 100vw;
    background-color: rgba(255, 255, 255,0.8);
}

.container-component-cart {
    
    display: flex;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255,0.5); */
    height: 90vh;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    font-family: 'Montserrat', sans-serif;
        
}

.container-component-cart li {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    list-style: none;
}

.container-component-cart h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}


.container-component-cart img {
    width: 350px;
    height: auto;
}

.container-cart {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.product-card {
    background-color: white;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
    padding-top: 20px;
    padding-bottom: 20px;

}

.total {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto
}

.total button {
    width: 30%;
}