@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

.footer {
  height: 100px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px solid #c1c1c1;
}

.footer-content {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-family: "Pacifico", cursive;
}

.year {
  padding-left: 50px;
}

.comment {
  font-size: 2rem;
  /* color: rgba(238, 130, 238, 0.5); */
  /* opacity: 0; */
}

.contact-and-icon {
  display: flex;
}

@media screen and (max-width: 960px) {
  .footer-content .logo,
  .year,
  .link {
    font-size: 1.7rem;
  }

  .year {
    padding: 0;
  }

  .footer-content {
    width: 100%;
  }

  .contact-and-icon {
    width: 30%;
  }
}
